<!DOCTYPE html>
<html>
  <head>
    <title>Illumio Secrets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/secrets.js"></script>
  </head>
  <body>
    <a href="#" id="home-link">Back to Home</a>
    <div id="main-container"></div>
  </body>
</html>
