<!--
  Write a template for a SINGLE secret
  Each secret has two fields: _id and content
-->
<div class="secret" data-secret-id={{_id}}>
  <p>{{content}}</p>
  <a href="#" class="delete-secret">Delete</a>
</div>
