<!--
  Write a template for the entire secrets page, which will be inserted into $('#main-container').
  You should display a list of secrets by making calls to the secrets partial.
-->
<div id="secrets">
  <p>Welcome, {{currentUser.username}} (<a href="#" id="logout-link">logout</a>)</p>
  <h1>Add New Secret</h1>
  <!-- Don't worry about adding for now; we'll take care of that later -->

  <h1>Your Secrets</h1>
  <!-- YOUR CODE HERE -->
  {{#each secrets}}
    {{> secret}}
  {{/each}}
</div>
