<div id="secrets">
  <p>Welcome, {{currentUser.username}} (<a href="#" id="logout-link">logout</a>)</p>
  <h1>Add New Secret</h1>
  <div>
    <div class="error"></div>
    <input type="text" id="new-secret-input" />
    <button id="submit-new-secret">Add</button>
  </div>
  <h1>Your Secrets</h1>
  {{#each secrets}}
    {{> secret}}
  {{/each}}
</div>
